.page-joinus{
    .job-left{
        background:#eee;
        padding:30px 20px;
        box-sizing: border-box;
        max-height: 100vh;
        overflow-y: scroll;

        h3{
            text-transform: uppercase;
            color:#f00;
            margin-bottom:20px;
            font-size:2.4rem;
            font-weight: 800;
            letter-spacing: 2px;
        }

        ul{
            li{
                list-style: none;
                position: relative;
                padding-left:15px;

                a{
                    color:$textcolor;
                    font-size:1.15rem;

                    &.active{
                        color:$themecolor;
                        font-weight: 600;
                    }
                }

                &:before{
                    content:''; position: absolute;
                    left:0; top:0; bottom:0; 
                    margin:auto;
                    background:$themecolor;
                    width:5px; height: 5px;
                    border-radius: 50%;
                }
            }
        }
    }


    .job-right{
        font-family: 'Athiti';
        .job-h{
            color:$themecolor;
            font-size:1.3rem;
            border-bottom:1px solid $themecolor;
            padding:0 0 20px;
            margin:0 0 20px;
        }

        .frm-job{
            padding:30px 0 0;

            .text-box, textarea{
                width:100%; padding:0 10px;
                background:#eee;
                box-sizing: border-box;
            }

            .text-box{
                height: 38px;
                border:none;
            }

            textarea{
                height: 80px;
                border:none;
                padding:10px;
            }

            input[type=file]{
                border:1px solid #eee;
            }

            button{
                background:$themecolor;
                color:#fff; text-align: center;
                padding:5px 30px;
                text-transform: uppercase;
                border:None;
                margin:20px 0 0;
            }

            input[name='position'] {
                color:$themecolor;
            }
        }
    }
}
