.press-list{
    @extend .client-list;

    li{
        padding:0px;
        height: auto;
        width:auto;
        position: relative;

        &:hover{
            img{
                width:120%;
                max-width: 120%;
                margin-left:-10%;
            }
        }

        img{
            position: relative;
            z-index: 1;
            transition:ease-in-out 300ms;
        }

        &:before{
            content:'';
            background:$themecolor;
            position: absolute;
            z-index: 0;
            left:-5px; top:-5px;
            width:50%; height: 50%;
        }
    }
}