

body,html{margin:0; padding:0;}
body{
	background:#fff;
	background-size:cover;
	font:400 1rem/1.5 'Quicksand', sans-serif, tahoma;
	color:$textcolor;
	font-display: swap;
	position: relative; 
	min-height: 100vh;
	padding-bottom:195px;
}

ul{
    margin:0; padding: 0;
}

.img{
    display: block; margin: 0px 0; width:100%; 
}


a{
	color:$linkcolor; text-decoration: none; 
	display: inline; display:inline-block;
	@include transition(200ms);
	
	&:hover{text-decoration: none; color:$themecolor;} 
}

input, button{
		-webkit-appearance: none;
	 	border-radius: 0;
	 
	 	&:active, &:focus {
    	outline: none;
    	border: none;
		}
}

.p{
    width:100%; margin: 0 0px 20px 0px; 
    clear: both;
}

p{
    margin: 0 0 0px 0; padding: 0;
}

br{
	display: block; margin:0px 0 0px 0; line-height:0;
	content:' ';
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.container{
	width:1200px;
}


.box-reset{
	.row{
		margin-right:-8px; margin-left:-8px;
	}
	
	.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
		padding-right:8px; padding-left:8px;
	}
}




